<div class="row">
  <div class="col-12">
    <app-etbundle-new *ngIf="flag" (formClose)="flag = false; ($event)? getETBundles(): null"></app-etbundle-new>
    <br/>
    
    &nbsp;&nbsp;
      <div class="form-group">

        <div class="input-group">


          <button class="btn btn-outline-primary btn-sm"
                  (click)="searchInBundle()">
            <img src="assets/search.png">
          </button>

          <input
            type="text"
            class="form-control"
            name="searchString"
            placeholder="Type to search..."
            [(ngModel)]="queryString"
            (keyup.enter)="searchInBundle()"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button *ngIf="!flag" 
          class="btn btn-outline-primary btn-sm" 
          (click)="flag = true">Neues ET-Bundle</button>
         
        </div>
      </div>
    
    <table class="table table-striped mt-4">
      <thead>
      <tr>
        <th>Id</th>
        <th>Project</th>
        <th>Name</th>
        <th>Comment</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let etbundle of etbundles | async  | filterdata: queryString : 'project' ">
        <td>{{etbundle.id}}</td>
        <td>{{etbundle.project}}</td>
        <td>{{etbundle.name}}</td>
        <td>{{etbundle.comment}}</td>
        <td>
          <button class="btn btn-outline-danger  btn-sm"
          mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteETBundle(etbundle.id)"
                (cancel)="cancelClicked = true"
                 ><img src="./assets/trash.png"></button>
          &nbsp;
          <button class="btn btn-outline-info  btn-sm" (click)="editETBundle(etbundle.id)"><img src="./assets/workon.png"></button>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>