<div class="row">
  <div class="col-12">
    <app-etbundle-new *ngIf="flag" (formClose)="flag = false; ($event)? getETBundles(): null"></app-etbundle-new>
    <br/>
    
    &nbsp;&nbsp;
      <div class="form-group">

        <div class="input-group">

          <img src="assets/search.svg" class="image24">&nbsp;&nbsp;

          <input
            type="text"
            class="form-control"
            name="searchString"
            placeholder="Type to search..."
            [(ngModel)]="queryString"
            (keyup.enter)="searchInBundle()"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button *ngIf="!flag" 
          class="btn btn-outline-primary btn-sm" 
          (click)="flag = true">
          <img src="assets/plus.svg" class="image24">&nbsp;&nbsp;Neues ET-Bundle</button>
         
        </div>
      </div>
    
    <table class="table table-striped mt-4">
      <thead>
      <tr>
        <th>Id</th>
        <th>Project</th>
        <th>Name</th>
        <th>Kommentar</th>
        <th>Status</th>
        <th>Version</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let etbundle of etbundles | async  | filterdata: queryString : 'project': 'name': 'comment' ">
        <td>{{etbundle.id}}</td>
        <td>{{etbundle.project}}</td>
        <td>{{etbundle.name}}</td>
        <td title="{{etbundle.comment}}">{{etbundle.comment | slice:0:40}}</td>
        <td>{{etbundle.status}}</td>
<!--  
       <td [ngSwitch]="etbundle.status">
          <div *ngSwitchCase="0">Konzeption</div>
          <div *ngSwitchCase="1">Freigegeben</div>
          <div *ngSwitchCase="2">In Arbeit</div>
          <div *ngSwitchCase="3">Archiviert</div>
          <div *ngSwitchDefault>unbekannt</div>
        </td>
--> 
        <td>{{etbundle.version}}</td>
        <td>
          <button class="btn btn-outline-danger  btn-sm"
          mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteETBundle(etbundle.id)"
                (cancel)="cancelClicked = true"
                 ><img src="./assets/trash.svg" class="image24" ></button>
          &nbsp;
          <button class="btn btn-outline-info  btn-sm" (click)="editETBundle(etbundle.id)">
              <img src="./assets/workon.svg"  class="image24"></button>

          &nbsp;
          <button class="btn btn-outline-info  btn-sm" (click)="duplicateETBundle(etbundle)">
               <img src="./assets/duplicate.svg"  class="image24"></button>
    
          &nbsp;
          <button class="btn btn-outline-info  btn-sm" (click)="printETBundle(etbundle.id)">
              <img src="./assets/printer.svg"  class="image24"></button>
            
          &nbsp;
          <button class="btn btn-outline-info  btn-sm" (click)="showChangeLog(etbundle.id)">
                <img src="./assets/changelog.svg"  class="image24" title="Änderungshistorie"></button>
                      
                       
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>