<div class="row">
  <div class="col-12">
    <app-etbundle-new *ngIf="flag" (formClose)="flag = false; ($event)? getETBundles(): null"></app-etbundle-new>
    <br/>
    <button *ngIf="!flag" 
             class="btn btn-outline-primary btn-sm" 
             (click)="flag = true">Neues ET-Bundle</button>

    &nbsp;&nbsp;
      <i class="glyphicon glyphicon-search"></i>
      
      <input
         type="text"
         class="btn-sm"
         name="searchString"
         [(ngModel)]="querystring"
         placeholder="Type to search..."      />
    
    <table class="table table-striped mt-4">
      <thead>
      <tr>
        <th>Id</th>
        <th>Project</th>
        <th>Name</th>
        <th>Comment</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let etbundle of etbundles | async">
        <td>{{etbundle.id}}</td>
        <td>{{etbundle.project}}</td>
        <td>{{etbundle.name}}</td>
        <td>{{etbundle.comment}}</td>
        <td>
          <button class="btn btn-outline-danger  btn-sm"
          mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteETBundle(etbundle.id)"
                (cancel)="cancelClicked = true"
                 >Delete</button>
          &nbsp;
          <button class="btn btn-primary  btn-sm" (click)="editETBundle(etbundle.id)">Edit</button>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

