$background:rgb(240, 240, 240);
$focusbackground:rgb(167, 240, 253);
$error:rgb(255, 181, 197);

.toolbar-right{
    float:center;
}

.anzeiger{
    width: 1.5%;
    border: 0;
    text-align: center;
    text-align-last:center;
    text-transform: uppercase;
    background-color: $background;
}
.anzeiger:focus{
    @extend .anzeiger;
    background-color: $focusbackground;
}


select {
    -moz-appearance: none;
    -webkit-appearance: none;
}


.etcomment{
    width: 20%;
    border: 0;
    background-color: $background;
}
.etcomment:focus{
    @extend .etcomment;
    background-color: $focusbackground;
}
.etcode{
    @extend .etcomment;
}

input.bedingungsanzeiger {
    @extend .anzeiger;
    
}

.aktionsanzeigerhead {
    @extend .anzeiger;
    background-color: white;
}
.aktionsanzeigerhead:focus {
    @extend .anzeiger;
    background-color: $focusbackground;
}

.aktionsanzeiger {
    @extend .anzeiger;
}
.aktionsanzeigerWide {
    width: 4%;
    @extend .anzeiger;
}
.aktionsanzeigerhl {
    @extend .aktionsanzeiger;
    width: 4%;
    background-color: rgb(255, 255, 70);
}

.bedingungskommentar {
    @extend .etcomment;
}

.bedingungscode {
    @extend .etcode;
}
.aktionskommentar {
    @extend .etcomment;
}
.aktionscode {
    @extend .etcode;
}

.fehlerbox{
    background-color: $error;
}
