<div>
      <!--  {{et | json}}-->
        <br/>
        <div class="form-group">
           <input [(ngModel)]="et.name" required minlength="5" 
                 maxlength="255" type="text" class="form-control" 
                 id="Name" aria-describedby="Name"
                 placeholder="Name" #name="ngModel" 
                 title="name of et" >
      
           <textarea class="form-control" 
                     id="exampleFormControlTextarea1" 
                     rows="3" 
                     title="comment of et" 
                     [(ngModel)]="et.comment"></textarea>
      
            
        </div>
      
        <div class="toolbar-right">
          <Button (click)="expand()" class="btn btn-outline-info btn-sm">
            <img src="assets/expand.svg" class="image24"></Button>&nbsp;&nbsp;
          <Button (click)="collapse()"  class="btn btn-outline-info btn-sm">
            <img src="assets/collapse.svg" class="image24"></Button>&nbsp;&nbsp;
          <Button (click)="sortRulesUp()"  class="btn btn-outline-info btn-sm">
            <img src="assets/sortUp.svg" class="image24"></Button>&nbsp;&nbsp;
          <Button (click)="sortRulesDown()"  class="btn btn-outline-info btn-sm">
            <img src="assets/sortDown.svg" class="image24"></Button>&nbsp;&nbsp;
            <Button (click)="check()"  class="btn btn-outline-info btn-sm">
            <img src="assets/check.svg" class="image24"></Button>&nbsp;&nbsp;
          <Button  class="btn btn-outline-info btn-sm"
          
                  mwlConfirmationPopover
                  [popoverTitle]="javaTitle"
                  [popoverMessage]="java()"
                  placement="left"
                  (confirm)="deleteET()"
                  (cancel)="cancelClicked = true">
                  <img src="assets/java.svg" class="image24"></Button>&nbsp;&nbsp;
          <Button (click)="jscipt()"  class="btn btn-outline-info btn-sm">
            <img src="assets/javascript.svg" class="image24"></Button>&nbsp;&nbsp;
            
          <Button
                class="btn btn-outline-danger btn-sm"
                
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteET()"
                (cancel)="cancelClicked = true"              
              >
              <img src="assets/trash.svg" class="image24">
              </Button>
          &nbsp;
          <Button (click)="hilfe()"  class="btn btn-outline-info btn-sm" >
                ?</Button>
        

        </div>
        <!--------------------------------------------------------
          ----------------Bugs              ----------------
          ------------------------------------------------------->
        <label [hidden]="et.bugs.length < 1"></label>
        <div *ngFor="let bug of et.bugs; let first = first;" class="alert alert-danger">
            <label>{{bug}}</label>
        </div>
      
        <br/>
       <!--------------------------------------------------------
          --------------- hinweise              ----------------
          ------------------------------------------------------->
        <div [hidden]="et.bugs.length > 0">
          <label [hidden]="hints.length < 1"></label>
          <div *ngFor="let hint of hints; let i = index" class="alert alert-info">
            <label>{{hint}}</label>
          </div>
        
          <br/>
        </div>
        <!--------------------------------------------------------
       --------------- actions on rules as dropdown select -------
        ------------------------------------------------------->
 
          <div>
            <label>&nbsp;&nbsp;</label>
            <label class="bedingungskommentar"></label>
            <label class="bedingungscode"></label>&nbsp;&nbsp;&nbsp;&nbsp;
         
            <!---------------rules of conditions------------------>
            <select *ngFor="let rule of et.conditions[0].rules; let i = index"
                  #opt (change)="actionOnRule(i, opt.value)"
                   [hidden]="et.conditions[0].rules.length > 32"
                   [class]="{
                    'aktionsanzeigerhl': visualizedRule == i,
                    'aktionsanzeiger': visualizedRule != i
                   }"
                   (click)="actionOnRule(i, '*')"
                   (contextmenu)="onRightClick(i)"
                   >
                  <option *ngFor="let ruleAction of ruleActions">{{ruleAction}}</option>

            </select>
        </div>  
 
         <!--------------------------------------------------------
          ----------------Conditions              ----------------
          ------------------------------------------------------->
        <div *ngFor="let condition of et.conditions; 
                     let last = last; let i = index" >
          <label>{{condition.id}}.&nbsp;</label>
          <input class="bedingungskommentar"
                 [(ngModel)]="condition.comment"  
                 title={{condition.comment}}>
      
          <input class="bedingungscode" 
                 [(ngModel)]="condition.condition"  
                  title={{condition.condition}}>
                  &nbsp;      
           <!---------------rules of conditions------------------>
           <select [(ngModel)]="rule.value" 
                 *ngFor="let rule of condition.rules; let i = index"
                 [class]="{
                  'aktionsanzeigerhl': visualizedRule == i,
                  'aktionsanzeiger': visualizedRule != i
                 }"
                 (contextmenu)="toggleConditionValue(rule)"
                 >
                 <option>j</option>
                 <option>n</option>
                 <option>-</option>
              </select>   
              
              &nbsp;<label (click)="downCondition(condition.id)" title="move down"
                [hidden]="last" class="btn-sm">
                <img src="./assets/arrowdown.png"></label>      
        </div>

        <!---------------add remove condition------------------>
        <label (click)="addCondition()"    *ngIf="! maxRules" class="btn-sm">
              <img src="./assets/plus.png"></label>
        <label (click)="removeCondition()" *ngIf="et.conditions.length > 2" class="btnbtn-sm">
              <img src="./assets/minus.png"></label>
        <br/>
        <!--------------------------------------------------------
          ----------------Actions              ----------------
          ------------------------------------------------------->
        <div *ngFor="let action of et.actions; 
                     let last = last;">
          <label>{{action.id}}.&nbsp;</label>
          <input class="aktionskommentar" [(ngModel)]="action.comment">
          <input class="aktionscode" [(ngModel)]="action.action">
          &nbsp;
          
          <!---------------rules of actions------------------>
          <select [(ngModel)]="rule.value" 
                  *ngFor="let rule of action.rules; let i = index"
                  class="aktionsanzeiger"
                  [class]="{
                        'aktionsanzeigerhl': visualizedRule == i,
                        'aktionsanzeiger': visualizedRule != i
                       }"
                 (contextmenu)="toggleActionValue(rule)"

                  >
                  <option>x</option>
                  <option>-</option>
          </select>
          &nbsp;<label (click)="downAction(action.id)" 
                 title="move down"
                 [hidden]="last"  class="btn-sm"><img src="./assets/arrowdown.png"></label>
        </div>
        <!---------------add remove actions------------------>
        <label (click)="addAction()" class="btn-sm"
                *ngIf="! maxActions"><img src="./assets/plus.png"></label>
        <label (click)="removeAction()" class="btn-sm"
                *ngIf="et.actions.length >1"><img src="./assets/minus.png"></label>
        <br/><br/>
        
        
      </div>
