<div>
<!--  {{et | json}}-->
  <br/>
  <div class="form-group">
     <input [(ngModel)]="et.name" required minlength="5" 
           maxlength="255" type="text" class="form-control" 
           id="Name" aria-describedby="Name"
           placeholder="Name" #name="ngModel">

     <textarea class="form-control" 
               id="exampleFormControlTextarea1" 
               rows="3" 
               [(ngModel)]="et.comment"></textarea>

      
  </div>

  <div class="toolbar-right">
    <Button (click)="expand()" class="btn btn-outline-info btn-sm" >
          Expandiere</Button>&nbsp;&nbsp;
    <Button (click)="collapse()"  class="btn btn-outline-info btn-sm" disabled>
          Verdichte</Button>&nbsp;&nbsp;
    <Button (click)="check()"  class="btn btn-outline-info btn-sm">
          Prüfe</Button>&nbsp;&nbsp;
    <Button (click)="java()"  class="btn btn-outline-info btn-sm" disabled>
          Java-Code</Button>&nbsp;&nbsp;
    <Button (click)="jscipt()"  class="btn btn-outline-info btn-sm" disabled>
          JS-Code</Button>&nbsp;&nbsp;
    <button class="btn btn-outline-danger  btn-sm" 
          (click)="dismiss()">Löschen</button>&nbsp;
    <Button (click)="hilfe()"  class="btn btn-outline-info btn-sm" >
          ?</Button>
  
  </div>

  <div *ngFor="let fehlerItem of et.fehler"   class="fehlerbox">
      <label>{{fehlerItem}}</label>
  </div>

  <br/>
  <div *ngFor="let condition of et.conditions">
    <label>{{condition.id}}.&nbsp;</label>
    <input class="bedingungskommentar"
           [(ngModel)]="condition.comment"  
           title={{condition.comment}}>

    <input class="bedingungscode" 
           [(ngModel)]="condition.condition"  
            title={{condition.condition}}>
            
<!--    <input class="bedingungsanzeiger"  
           *ngFor="let rule of bedingung.rules" 
           [(ngModel)]="rule.value">   -->

        <select [(ngModel)]="rule.value" 
           *ngFor="let rule of condition.rules"
           class="aktionsanzeiger">
           <option>j</option>
           <option>n</option>
           <option>-</option>
   </select>          
  </div>
  <button (click)="addBedingung()" *ngIf="! maxRules">+</button>
  <br/>
  <div *ngFor="let action of et.actions">
    <label>{{action.id}}.&nbsp;</label>
    <input class="aktionskommentar" [(ngModel)]="action.comment">
    <input class="aktionscode" [(ngModel)]="action.condition">
<!--    <input class="aktionsanzeiger" 
           *ngFor="let rule of aktion.rules" 
           [(ngModel)]="rule.value">   -->

    <select [(ngModel)]="rule.value" 
            *ngFor="let rule of action.rules"
            class="aktionsanzeiger">
            <option>x</option>
            <option>-</option>
    </select>
  </div>
  <button (click)="addAktion()"
          *ngIf="! maxActions">+</button>
  <br/><br/>
  
  
</div>
