<br/>
<div class="row">
 
  <div class="col-12"><h3 class="center">Willkommen bei ET</h3></div> <br/><br/>
  <div class="col-12"><h5> 'ET' .....</h5></div><br/><br/>
  <div class="col-12"><h5> -> .. dient der Verwaltung von Entscheidungstabellen.</h5></div>
  <div class="col-12"><h5> -> .. dient der Generierung von Java-Code.</h5></div>
  <div class="col-12"><h5> -> .. unterstützt das einfache Editieren .</h5></div>
  <br/><br/>
  <div class="col-12">
     <button class=" btn btn-outline-info  btn-sm" 
            (click)="bundlelist()">Übersicht</button>
   </div>
</div>
