<div>
  <!-- {{etbundle | json}} -->
  <br/>
  <div>
    <button class="btn btn-outline-info" (click)="dismiss()"
           title="Zurück zur Übersicht"
        >
      <img src="assets/logout.svg" class="image24">&nbsp;&nbsp;Abbrechen</button>&nbsp;
    <button i18n type="submit" class="btn btn-outline-info" (click)="modify()"
           [disabled]="name.invalid || comment.invalid"
           title="Speichert das ET-Bundle">
      <img src="assets/save.svg" class="image24">&nbsp;&nbsp;Speichern</button>
  </div>
  <br/>

  <div class="form-group">
    <div class="input-group">

      <input [(ngModel)]="etbundle.project" required minlength="3" maxlength="255" type="text" class="form-control" id="Project" aria-describedby="Project"
            placeholder="project" #project="ngModel" title="name of project">

      <input [(ngModel)]="etbundle.name" required minlength="3" maxlength="255" type="text" class="form-control" id="Name" aria-describedby="Name"
            placeholder="name" #name="ngModel"  title="name of et-bundle ">
    </div>
      <textarea [(ngModel)]="etbundle.comment" 
                required class="form-control" 
                id="Comment" 
                aria-describedby="Comment"
                placeholder="comment" #comment="ngModel" 
                rows="3"
                title="comment of et-bundle ">
              </textarea>

  </div>
</div>

<tabs>
  <tab  *ngFor="let et of etbundle.ets" tabTitle="{{et.id}} {{et.name}}" >
       <app-et-edit [et] = et></app-et-edit>
  </tab> 
  <tab tabTitle="+">
    <br/>
    <button   (click)="createET()" class="btn btn-outline-info"
    ><img src="assets/plus.svg" class="image24">&nbsp;&nbsp;Erstelle eine neue ET</button>
    <br/>
    <br/>
  </tab>

</tabs>

<br/><br/><br/><br/><br/>