<div>
  {{etbundles.name | json}}

  <div class="form-group">
    <label for="Project">Project</label>
    <input [(ngModel)]="etbundle.project" required minlength="3" maxlength="255" type="text" class="form-control" id="Name" aria-describedby="Name"
           placeholder="project" #project="ngModel">
  </div>

  <div class="form-group">
    <label for="Name">Name</label>
    <input [(ngModel)]="etbundle.name" required minlength="3" maxlength="255" type="text" class="form-control" id="Name" aria-describedby="Name"
           placeholder="Name" #name="ngModel">
  </div>

  <div class="form-group">
    <label for="Comment">Comment</label>
    <input [(ngModel)]="etbundle.comment"  required minlength="3" maxlength="255" type="text" class="form-control" id="Comment" aria-describedby="Comment"
    placeholder="comment" #name="ngModel">
  </div>

  <button class="btn btn-outline-info" (click)="dismiss()">Abbrechen</button>&nbsp;
  <button type="submit" class="btn btn-primary" (click)="create()" [disabled]="name.invalid || project.invalid">Submit</button>

</div>
