<div>
  <br/>
  <div>
    <button class="btn btn-outline-info" (click)="dismiss()"
           title="Zurück zur Übersicht"
        >
      <img src="assets/logout.svg" class="image24">&nbsp;&nbsp;Abbrechen</button>&nbsp;

     <button class="btn btn-outline-info" (click)="dismiss()"
      title="Drucken"
   >
 <img src="assets/printer.svg" class="image24">&nbsp;&nbsp;Drucken...</button>&nbsp;

    </div>
  <br/>

  <div>
    <table class="etformattable">
      <tr>
        <td class="etformat">Project: </td> <td class="etformat"><b>{{etbundle.project}}</b></td>
        <td class="etformat">Bundle:</td>   <td class="etformat"><b>  {{etbundle.name}}</b></td>
     </tr>
     <tr>
        <td class="etformat">Status: </td> <td class="etformat"><b> {{etbundle.status}}</b> </td> 
        <td class="etformat">Version:</td> <td class="etformat"><b>{{etbundle.version}}</b> </td>
         
     </tr>
    </table>
    <p>Comment:</p>
    <p>{{etbundle.comment}}</p>
    <br/>

  </div>

  <div  *ngFor="let et of etbundle.ets">
    <p>ET: <b>{{et.id}} {{et.name}}</b></p>

    <p>Comment:</p>
    <p>{{et.comment}}</p>
    <table class="printtable">
      <tr >
        <td class="etcommentHead" >Condition</td>
        <td class="etcodeHead" >Code</td>
        <td class="backgroundGray"></td>
      </tr>
      <tr *ngFor="let condition of et.conditions">
        <td class="bedingungskommentar">{{condition.comment}}</td>
        <td class="bedingungscode">{{condition.condition}}</td>
        <td>
           <label class="anzeiger" *ngFor="let rule of condition.rules">
              {{rule.value}}
           </label>
        </td>
      </tr>


    <tr>
        <td class="etcommentHead" >Action</td>
        <td class="etcodeHead" >Code</td>
        <td class="backgroundGray"></td>
    </tr>

    <tr *ngFor="let action of et.actions">
      <td class="bedingungskommentar">{{action.comment}}</td>
      <td class="bedingungscode">{{action.action}}</td>
      <td>
         <label class="anzeiger" *ngFor="let rule of action.rules">
            {{rule.value}}
         </label>
      </td>
    </tr>
    </table>
    <br/><br/>
  </div> 


<br/><br/><br/><br/><br/>