<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Java-Code</h4>
     </div>

    <textarea [(ngModel)]="javacode" 
                required class="form-control" 
                id="Java" 
                aria-describedby="Java"
                placeholder="Java" #comment="ngModel" 
                rows="20"
                title="Java Code">
     </textarea>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('OK click')">OK</button>
    </div>
  </ng-template>
  
  <button   (click)="open(content)" class="btn btn-outline-info btn-sm"
    ><img src="assets/java.svg" class="image24"></button>

